/* {
	border: 1px solid red !important;
}
*/
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;

	font-family: 'Playfair Display', serif;
	text-align: center;
}

@media only screen and (max-width: 500px) {
	html, body, grid {
		height: 100%;
		width: 100%;
	}
	#burgerMenu {
		display: block !important;
	} 
	#nameDiv {
		width: 66.66%;
		text-align: center;
	}
	#navRow {
		display: none;
	}

	* {
		text-align: center !important;
	}

	.col-4 {
		min-width: 100%;
		width: 100%;
		float: left;
	}
}

@media only screen and (max-width: 750px) {
	#introDiv {
		width: 100%;
		order: 0;
	}
	#photoDiv {
		width: 100%;
		order: 1;
	}
	.myPhoto {
		margin-left: auto !important;
		margin-right: auto !important;
	}
	.pro.col-4 {
		width: 100%;
		order: 2;
	}
	.ed.col-4 {
		width: 100%;
		order: 3;
	}
	.hobby.col-4 {
		width: 100%;
		order: 4;
	}
}

#drawer {
	width: 250px;
	height: 250px;
	position: absolute;
    background-color: #555;
    border: 2px solid #ccc;
    opacity: .9;
	-webkit-transform: translate(-260px, 0);
	transform: translate(-260px, 0);
	transition: transfrom 0.3s ease;
}

#drawer.open {
	-webkit-transform: translate(0, 0);
	transform: translate(0,0);
}

.nav_list {
    width: 100%;
    height: 100%;
    margin: auto;
    margin: auto;
    padding: 0;
    list-style-type: none;
}

.nav_item {
    //margin-bottom: 0px;
    //padding-bottom: 0px;
    height: 33%;
    width: 100%;
    display: table;
}

.nav_item a {
    text-decoration: none;
    color: #ccc;
    font-size: 1.5em;
    height: 100%;
    width: 100%;
    display: table-cell;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
}

.grid {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}

.container {
	display: flex;
	flex-wrap: wrap;
}

.row {
    width: 100%;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.col-1 {
	width: 8.33%;
}

.col-2 {
	width: 16.66%;
}

.col-3 {
	width: 25%;
}

.col-3-right {
	width: 25%;
	text-align: right;
}

.col-4 {
	width: 33.33%;
}

.col-5 {
	width: 41.66%;
}

.col-6 {
	width: 50%;
}

.col-7 {
	width: 58.33%;
}

.col-8 {
	width: 66.66%;
}

.col-9 {
	width: 75%;
}

.col-10 {
	width: 83.33%
}

.col-11 {
	width: 91.66%;
}

.col-12 {
	width: 100%;
}

p {
	margin: 10px;
}

.logo {
	margin: 10px;
	margin-bottom: 0px;
	padding-bottom: 10px;
	max-width: 100%;
	height: auto;
	display: block;
}

.myName {
	margin: 10px;
	text-align: right;
	font-weight: 700;
	color: #444;
}

.myTitle {
	text-align: right;
}

#burgerMenu {
	display: none;
	margin-top: 10px;
}

.burgerIcon {
	width: 30px;
	height: auto;
}

.horizRule {
	font-weight: 700;
	color: #333;
	margin: 0px;
	padding: 0px;
}

.navMenu {
	margin: 5px;
	text-align: right;
	padding-right: 10px;
	padding-bottom: 0px;
}

.navMenu a {
	text-decoration: none;
	color: #333333;
	margin-bottom: 0px;
	padding-bottom: 0px;
	min-width: 48px;
	min-height: 48px;
}

.myPhoto {
	max-width: 100%;
	margin: 10px;
	height: auto;
	display: block;
}

.introTitle {
	margin: 10px;
}

.intro {
	
}

.sectionTitle {
	margin: 10px;

}

#footRow {
	padding: 10px;
	border-top: 1px solid #bbb !important;
	border-bottom: 1px solid #bbb !important;
}

#footRow .col-6 {
	text-align: center;
}

